.font-script {
  font-family: 'Great Vibes', cursive;
}

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
  }
    button {
    @apply cursor-pointer ring-0 ring-offset-0 transition focus:outline-none;
  }
}
